*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(48deg, #801a99 0%, #ab1c7b 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1000px;
}

.game{
    background-color: #480f57;
    margin: 210px;
    padding: 100px;
    border-radius: 2%;
}

h1{
    color: white;
    font-size: xx-large;
}

.game input{
    padding: 10px;
    border-radius: 30px;
    font-size: large;
}

.game button{
    background-color: rgb(216, 216, 14);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: large;
    transition: trasform 1, box-shadow 0.2;
    cursor: pointer;
}

.game button:hover{
    transform: scale(1.1);
    background-color: yellow;
}

.parola{
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
}

#count{
    color: white;
    margin-top: 20px;
    font-size: x-large;
}

#risultati{
    margin: 0;
}

#risultati button{
    margin-top: 20px;
}