/* togliamo i bordi predefiniti  */
*{
    margin: 0;
    padding: 0;
}

/* stile body  */

body{
    font-family:  Arial, Helvetica, sans-serif;
    line-height: 1.2;
}


/* stile header */

header{
    background-color: #535889;
    color: white;
    padding: 20px;
    text-align: center;
}

/* stile section */

section{
    text-align: center;
    padding: 20px;
}

nav a{
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* stile del main */

main{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

#testo{
    margin: 20px;
    padding: 10px;
    text-align: left;
    border-left: 4px solid #535889;
    flex: 1;
}

#img{
    display: flex;
    gap: 10px;
}

/* stile contatti */

#contatti{
    background-color: #535889;
    color: white;
}

nav a {
    color: white;
}

/* stile lista */

#lista{
    margin: 20px;
    padding: 10px;
    text-align: left;
    border-left: 4px solid #535889;
}

/* stile menu */

#menu{
    margin: 20px;
    padding: 10px;
}

/* stile orario  */

#orario{
    margin: 20px;
    padding: 10px;
}

#form{
    text-align: left;
    margin: 20px;
    padding: 10px;
    margin-right: 50%;
}