*{
    box-sizing: 0;
    border: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    background-color: cadetblue;
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu > li{
    padding: 15px 20px;
    border-left: 1px solid black;
}

