body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: repeat(4, auto);

    div{    /* main div */
        font-size: 30pt;
        cursor: pointer;
    }
}